.icon-display {
  transform: scale(1.6);
  margin-left: 15px;
}

.label {
  margin-left: 14px;
  letter-spacing: 0.00938em;
  font-size: 34px;
  font-weight: 700;
}

.galleria {
  max-width: '640px';
  margin: 'auto';
  margin-top: '2em' ;
}

@media (max-width: 575px) {
  .title {
    margin-top: 100% !important;
  }

  .image {
    max-width: 410px;
  }
}
