<div class="about m-5">
  <img
    alt="lampada"
    class="lampada"
    src="../../../assets/images/Lampada.jpg"
  >
  <div class="area-texto">
    <span class="title">Quem somos</span>
    <p>
      A Serve Lar é uma empresa fundada no ano de 2007 e situada em São José na Grande Florianópolis,
      com experiência no mercado e fornecendo soluções em geral.
    </p>
    <p>
      Nossa principal missão é fornecer um trabalho íntegro e autêntico, pautado pela aderência aos
      cronogramas, excelência na entrega de serviços e plena satisfação de nossos clientes.
      Esses compromissos têm sido os pilares do nosso sucesso contínuo.
    </p>
    <p>
      Com um eletricista excepcional, altamente treinado e qualificado para atender às demandas mais
      exigentes dos clientes. Ele é profissionalmente preparado para garantir a excelência em nossos
      serviços e satisfazer as necessidades de nossos clientes com eficiência e profissionalismo.
    </p>
    <p>
      Almejamos elevar o padrão da prestação de serviços, estabelecendo relações baseadas na confiança
      mútua com nossos clientes e parceiros, sempre buscando superar expectativas e alcançar resultados
      excepcionais.
    </p>
  </div>
</div>

<app-footer></app-footer>
