<div class="container-principal h-100 m-5">
  <div class="pt-5 m-5 title">
    <mat-icon class="icon-display"> build </mat-icon>
    <span class="label"> Serviços </span>
  </div>

  <p-carousel
    [value]="items"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    [autoplayInterval]="4500"
  >
    <ng-template let-product pTemplate="item">
      <div style="margin: 20px;">
        <app-card-services [card]="product"></app-card-services>
      </div>
    </ng-template>
  </p-carousel>
</div>
