<div
  class="container-principal d-flex flex-row justify-content-around flex-wrap align-items-center h-100 m-5"
  style="max-height: -webkit-fill-available"
>
  <div class="p-2 text-center area-perfil col-sm-6">
    <img
      src="../../../assets/images/imagem-carlos.webp"
      class="img-fluid image-perfil"
      alt="foto de perfil"
    />
  </div>

  <div class="col-sm-6 text-center mt-4">
    <p class="text">
      {{ description }}
    </p>
    <p class="name mt-5">
      {{ name }}
    </p>
    <div class="d-flex justify-content-center mt-2">
      <div class="mt-2 d-flex align-items-center">
        <app-icon name="iconWhats" [icon]="iconWhatsApp"></app-icon>
        <span style="margin-left: 5px"> (48)9 9629-0394 </span>
      </div>

      <button mat-icon-button (click)="goTo('mailto:damacenosc@gmail.com')">
        <app-icon name="iconEmail" [icon]="iconEmail"></app-icon>
      </button>

      <button
        mat-icon-button
        (click)="goTo('https://www.instagram.com/damacenocarlos/')"
      >
        <app-icon name="iconInstagram" [icon]="iconInstagram"></app-icon>
      </button>
    </div>
  </div>
</div>

<div>
  <app-gallery></app-gallery>
</div>

<div>
  <app-services></app-services>
</div>
