.body-card {
  max-width: 340px;
  width: 340px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.image {
  max-height: 340px;
  height: 100%;
}
